#map{
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
}

#opciones{
    width: 100%;
    text-align: center;
}

body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
}

.casual-heading {
    font-size: 24px;
    margin: 0;
    color: #333;
    font-weight: bold;
}

.info-box {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    z-index: 1;
    position: absolute;
}

.info-box-left {
    left: 10px;
    top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-box-right {
    right: 10px;
    top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-box-bottom {
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
}




label, select, input {
    display: block;
    margin: 10px 0;
}

.casual-button-container {
    display: flex;
    justify-content: center;
}

.casual-button {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    margin: 5px;
    cursor: pointer;
    background-color: #62ac18c3;
    color: white;
}


