#Logo {
  height: 40px;
  margin-left: 30px;
  margin-right: 10px;
  border-radius: 3px;
}
#card-primero {
  margin-right: auto;
}
h6 {
  margin-left: 10px;
  display: inline;
}

.cuadro {
  display: flex;
  flex-direction: row-reverse;
  
}

.cuadro div:first-of-type {
  position: relative;
  left: 15%;
}

label {
  margin: 10px;
}

.group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
}

