<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Comunidad</title>
  <link rel="Logo" href="static/img/Logo.png" type="image/x-icon" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <header class="d-flex justify-content-center py-3 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 link-body-emphasis text-decoration-none">
      <img id="Logo" src="static/img/Logo-2.png" alt="Logo" />
      <span class="fs-2 fw-bold">Ciclo Viajero</span>
    </a>
  </header>

  <!--HTML-->
  <!-- Hero -->
  <div class="container-fluid text-center" style="margin-top: 50px">
    <p class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Comunidad</p>
  </div>
  <!-- Hero -->

  <!--CONTENIDO-->

  <div class="container" id="comentarios-section">

    <ul id="comentarios-lista"></ul>
  </div>

  <div class="main-body p-0">
    <form action="" id="formulario-comentario">
      <div class="group">
        <label for="">Titulo</label>
        <textarea name="titulo" id="titulo" cols="20" rows="4"></textarea>
      </div>
      <div class="group">
        <label for="">Contenido</label>
        <textarea name="contenido" id="contenido" cols="20" rows="4"></textarea>
      </div>



      <input type="submit" value="Nuevo comentario" class="btn btn-primary has-icon btn-block">
    </form>



  </div>

  <script>
    async function obtenerComentarios() {
      const url = 'http://localhost:5000/api_comments/comments'; // Reemplaza con la URL de tu API de comentarios

      try {
        const response = await fetch(url);
        const comentarios = await response.json();

        const comentariosLista = document.getElementById('comentarios-lista');
        comentarios.forEach(comentario => {
          const listItem = document.createElement('li');
          listItem.innerHTML = `
             
              <div class="card mb-4 col-lg-5">
            <div class="card-body p-2 p-sm-3">
              <div>
                <img src="static/img/Usuario.png" class="mr-3 rounded-circle" width="50" alt="User" />
                <h6>
                  <a href="#" data-toggle="collapse" data-target=".forum-content" class="text-body">${comentario.titulo}</a>
                </h6>
              </div>
              <p class="text-secondary">
                ${comentario.contenido}
              </p>
              <p class="text-muted">
                <a href="javascript:void(0)">${comentario.usuario}</a> respondió hace
                <span class="text-secondary font-weight-bold">${comentario.fecha_hora}</span>
              </p>
            </div>
          </div>
            `;
          comentariosLista.appendChild(listItem);
        });
      } catch (error) {
        console.error('Error al obtener comentarios:', error);
      }
    }

    // Llama a la función para obtener comentarios cuando se carga la página
    window.onload = () => {
      obtenerComentarios();
    };
  </script>




  <!--CONTENIDO-->
  <!--HTML-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-..."
    crossorigin="anonymous"></script>

  <script src="{{ url_for('static', filename='js/agregar_comentario.js') }}"></script>
</body>

</html>