<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="css/style2.css" type="text/css">
  </head>
  <body>

    <div class="login-box">
      <img src="img2/Logo.png" class="avatar" alt="Avatar Image">
      <h1>Inicio de sesión</h1>
      <form>
        <!-- USERNAME INPUT -->
        <label for="username">Usuario</label>
        <input type="text" placeholder="Correos o número de télefono">
        <!-- PASSWORD INPUT -->
        <label for="password">Contraseña</label>
        <input type="password" placeholder="Contraseña">
        <input type="submit" value="Log In">
        <a href="#">¿Olvidaste tu contraseña?</a><br>
        <a href="#">Crear cuanta nueva</a>
      </form>
    </div>
  </body>
</html>